<% if (errmsg) { %>
<div class="user-message user-message-error"><i class="fas fa-times close c-w font-xs"></i> <%= errmsg %> </div>
<% } %>
<% if (succmsg) { %>
<div class="user-message user-message-success"><i class="fas fa-times close c-w font-xs"></i> <%= succmsg %> </div>
<% } %>