.wrapper-body {
  width: 100%;
  /* background-color: #f9f9f9; */
}

.overall-info {
  margin-top: var(--m-margin);
  display: flex;
  justify-content: space-around;
}

.overall-info_item {
  display: grid;
  padding: var(--m-padding);
  color: #fff;
  justify-content: center;
  width: -webkit-fill-available;
  border-radius: var(--m-radius);
  font-size: 27px;
  margin: var(--m-margin);
}

.over-all-review {
  padding: var(--l-padding);
  border-radius: var(--l-radius);
}

.shipments {
  grid-gap: var(--m-margin);
}

.over-all-review_box {
  height: 300px;
  overflow-y: scroll;
  margin: var(--m-margin) 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: var(--s-padding);
  border-radius: var(--m-radius)
}

.over-all-review_box .btn{
  background-color: var(--scnd-color);
}
.over-all-review_box_item {
  background-color: #eee;
  border-radius: var(--s-radius);
  padding: var(--s-padding);
  margin: var(--m-margin);
  display: flex;
  justify-content: space-between;
}

.over-all-review_compare_percentage_item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  border: 1px solid #eee;
  background-color: #fff;
}

.over-all-review_compare_percentage_item p {
  font-size: 15px;
  color: #000;
}

.over-all-review_compare_percentage_item .item_percentage p {
  font-size: 22px;
  margin-left: var(--main-margin);
  font-weight: bold;
  background: #fff;
  padding: var(--scnd-padding);
  border-radius: var(--main-radius);
  display: flex;
  align-items: center;
  border: 1.2px solid;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .overall-info {
    display: unset;
  }
  aside {
    grid-template-columns: 1fr !important;
  }
  .over-all-review {
    padding: var(--s-padding);
  }
  .over-all-review_compare_percentage_item {
    grid-template-columns: 1fr;
  }
}