.wrapper{
    width: 75%;
    margin:60px auto;
    text-align: center;
    min-height:40vh
}

section{
    background: #f9f9f9;
    margin: var(--main-margin);
    padding: var(--main-padding);
    box-shadow: var(--shadow2);
}