.inside-wrapper{
    width: 100%;
    margin: 0;
    height: 100vh;
}
main .content {
    display: flex;
}

.reports-menu {
    width: 20%;
    background: #f9f9f9;
    height: 100vh;
    padding: var(--m-padding) var(--s-padding);
}

.reports-menu ul li {
    padding: var(--s-padding);
    font-size: 18px;
    cursor: pointer;
    margin: var(--m-margin);
    background-color: #fff;
}

.reports-menu ul li.selected {
    background: var(--main-color);
    color: #fff;
}

.reports-wrapper {
    width: 100%;
    position: relative;
}

.scaleable {
    position: absolute;
    z-index: 9;
}

.inside-wrapper {
    padding: var(--m-padding);
}

span {
    text-align: right;
}

.close {
    color: #333;
    font-size: 20px;
}

.sub-menu {
    left: unset;
    right: 8px;
    max-width: 165px;
}

.sub-menu::after {
    right: 6px;
    left: unset;
}

.grid {
    grid-gap: unset;
}

.report-head {
    background-color: #eee;
    text-align: center;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
}

.report-body>div, .report-footer {
    display: grid;
    grid-auto-flow: column;
}

.report-body span {
    border: 1px solid #eee;
    padding: 6px;
    font-size: 14px;
    background: #fff;
    width: 237px;
    max-width: 247px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .content {
        display: grid !important;
    }
    .reports-menu {
        width: 100%;
        height: 100px;
    }
    .reports-menu ul {
        display: flex;
    }
    .reports-menu ul li {
        font-size: 12px;
        margin: 4px;
    }
    .slideable, .scaleable {
        position: relative !important;
    }
    .inside-wrapper {
        margin: 0 !important;
    }
    .reportrange {
        font-size: 14px;
    }
    .actions {
        display: grid;
    }
    .btn {
        font-size: 12px;
    }
    .report-head {
        grid-auto-columns: 1fr;
    }
    .report-head span, .report-body span {
        font-size: 12px;
        width: unset;
        max-width: unset;
    }
   
}