/* #menu {
  position: sticky;
  top: 0;
  background: #ffffffad;
  z-index: 99999;
  height: 80px;
  line-height: 100px;
  box-shadow: var(--shadow3);
}

#menu ul {
  display: flex;
  justify-content: space-evenly;
}


#menu ul li a {
  text-decoration: none;
  color: #222;
  font-weight: 800;
}

#logo {
  font-family: 'Merienda', cursive;
  font-size: 24px;
  text-shadow: 1px 2px 2px var(--main-color);
  text-decoration: none;
  color: #111;
}

#logo img {
  height: 55px;
}

.toggle-menu,
.search-icon {
  color: #343434;
  font-size: 27px;
  cursor: pointer;
  margin-right: var(--m-margin);
}

#mobile-menu {
  display: none;
  padding: var(--m-padding);
  position: sticky;
  top: 0;
  z-index: 99999;
  background: #ffffffad;
  box-shadow: var(--shadow3);
}

#mobile-menu ul {
  position: absolute;
  right: -100%;
  top: 0;
  height: 100vmax;
  width: 70%;
  z-index: 100;
  background-color: var(--main-color);
  transition: .3s;
  padding-top: 70px;
  box-shadow: var(--shadow3);
}

#mobile-menu ul .toggle-menu {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 20px;
  cursor: pointer;
  padding: var(--s-padding);
}

#mobile-menu ul.active {
  right: 0;
}

ul.active::before {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.199);
}

#mobile-menu ul li {
  padding: var(--m-padding);
  color: #fff !important;
  border-bottom: 1px solid;
  display: block;
}

#mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  display: block;
}

#mobile-menu ul li a:visited {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #menu {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
} */

.nav-wrapper {
  background: #fff;
  width: 100%;
  display: grid;
  justify-items: center;
  height: 100px;
  transition: .5s all ease-in-out;
  position: relative;
  z-index: 15;
  box-shadow: var(--shadow);
  border-top: 5px solid var(--scnd-color)
}

.nav-wrapper.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
}

.nav-wrapper.fixed .main-nav {
  width: 85%;
}

.top-bar {
  /* background: var(--main-gradient); */
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--m-padding) 0;
}

.top-bar_list {
  display: flex;
  align-items: center;
}

.top-bar_list-item {
  margin-right: var(--m-margin);
  position: relative;
}

.top-bar_list-item a, .top-bar_list-item i {
  color: var(--scnd-color);
  font-size: 13px;
  text-decoration: none
}

.top-bar_list-item span {
  background-color: #333;
  width: 170px;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  border-radius: var(--s-radius);
  margin: var(--m-margin) auto;
  position: absolute;
  top: 10px;
  right: -100%;
  display: none;
  transition: .5s all;
  z-index: 999999999;
  font-size: 14px;
}

.top-bar_list-item:hover span {
  display: block;
}

/*Start NAVBAR*/

.main-nav {
  width: 85%;
  height: auto;
  top: 0;
  transition: .7s all ease-in-out;
}

.main-nav__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__item-list.auth {
  margin-right: 30px;
  display: grid !important;
  align-items: center;
  max-width: 60%;
}

.main-nav__item-list.auth .user-name {
  color: #222;
}

.main-nav__item {
  margin: 0 var(--s-margin);
  padding: 0;
  float: left;
  position: relative;
}
.main-nav__item.logo a{
  color: var(--main-color);
  margin: 0;
  margin-left: -5px;
  font-size: 21px;
  font-weight: bold;
  padding: var(--s-padding);
}

.main-nav__item a {
  color: #444;
  font-size: 15px;
  /* font-weight: bold; */
  text-align: center;
  padding: 0px var(--m-padding);
  text-transform: capitalize;
  transition: .3s color;
}

.main-nav__item a.active {
  color: #222 !important;
  background-image: var(--main-gradient);
  border-radius: var(--l-radius);
}

.main-nav__item:hover>.main-nav__item_sub-menu {
  opacity: 1;
  transform: scale(1);
}

.main-nav__item img {
  height: 60px;
  transition: .5s all ease;
}

.main-nav__item img.small {
  height: 40px;
}

.main-nav__item_sub-menu {
  position: absolute;
  height: auto;
  padding: var(--s-padding);
  border-radius: var(--s-radius);
  background-color: #333;
  z-index: 20;
  transition: .5s all;
  opacity: 0;
  transform: scale(0);
}

.main-nav__item_sub-menu::after {
  content: '';
  position: absolute;
  right: 10%;
  top: -2px;
  height: 14px;
  width: 14px;
  background-color: #333;
  transform: rotate(45deg);
}

.main-nav__item_sub-menu a:hover {
  color: var(--main-color);
}

.sub-menu_button {
  display: none;

}


.nav-wrapper .mobile-nav{
  display: none;
}

.mobile-nav{
  width: 100%;
  
}
.mobile-nav > ul.flex{
  height: 100%;
  padding-right: var(--m-padding);
}
.mobile-nav .user-actions{
  min-width: 20%;
}
/* Styling Side Menu */

#pop-up_menu {
  height: 100%;
  width: 100%;
  position: fixed;
  left: -100%;
  top: 0;
  transition: 0.3s all ease-in-out;
  display: grid;
  background-color: rgba(0, 0, 0, 0.523);
  z-index: 20;
}

#pop-up_menu .inner {
  height: 75%;
  width: 50%;
  background: #fff;
  padding: var(--m-padding);
  padding-top: var(--l-padding);
  transform: translateX(-100%);
  transition: 0.25s all ease-in-out;
  border-radius: var(--radius);
  overflow-y: scroll;
  overflow-x: hidden;
}

#pop-up_menu .inner img {
  width: 30%;
  margin: var(--m-margin) auto;
}

#pop-up_menu h2 {
  font-weight: bolder;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
}

.pop-up_menu_cls, .side-nav_nested_cls {
  text-align: center;
  color: #333;
  font-size: 1.5em;
  position: absolute;
  right: 15px;
  top: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.side-nav_list {
  display: grid;
  margin-bottom: var(--scnd-margin);
  justify-items: center;
  position: relative;
}

.side-nav_list li {
  text-align: left;
  width: 100%;
  height: 120px;
  padding: 0;
  transition: 0.3s all ease-in-out;
  display: block;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 2px solid #eee;
  padding-left: 10px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: var(--s-margin);
}

.side-nav_nested {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background: #fff;
  transition: .5s;
  z-index: 20;
  padding: var(--m-padding);
  padding-top: var(--l-padding);
}

.side-nav_nested.opened {
  left: 0;
}

.open-nested_menu {
  left: 0;
}

.side-nav_nested_cls {
  z-index: 30 !important;
}

.side-nav_nested h3 {
  margin: var(--m-margin) 0;
}

.side-nav_list li img {
  height: 80px;
  width: 80px;
  /* display: none; */
}

.supporting-nav {
  margin-top: 20px;
  padding: 7px 21px 8px;
  border-top: 1px solid #EDF2F4;
  display: block;
}
.switcher-lang a {
  font-size: 12px;
  color: #B98562;
  font-weight: 500;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  flex-direction: row-reverse;
}
.switcher-lang a img {
  margin-right: 5px;
  margin-left: 0;
  max-width: 100%;
}
.supporting-nav .menu li {
  display: block;
  margin: var(--s-margin);
}
.supporting-nav .menu li a {
  text-transform: capitalize;
  font-size: 16px;
  color: var(--scnd-color);
  font-weight: 500;
}

/*
  .side-nav_list li:hover img {  display: block;  }
  .side-nav_list li:nth-child(2) img {
    width: 100%;
    height: 30px;
  }
  .side-nav_list li:nth-child(3) img {
    width: 100%;
    height: 50px;
  }
  
  .side-nav_list li:nth-child(1) { border-color: #ffc629; }
  .side-nav_list li:nth-child(2) { border-color: #f0360c; }
  .side-nav_list li:nth-child(3) { border-color: #44bd32; }
  .side-nav_list li:nth-child(4) { border-color: #0097e6; }
  .side-nav_list li:nth-child(5) { border-color: #192a56; }
  .side-nav_list li:nth-child(6) { opacity: 1; } */

.side-nav_list li a {
  color: #222;
  line-height: 20px;
  font-size: 18px;
}

.user-actions {
  border-radius: var(--s-radius);
  margin: 0 var(--s-margin);
  padding: var(--s-padding) 0;
  display: flex;
}

.user-actions .main-nav__item a {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

@media screen and (max-width: 770px) {
  .main-nav{
    display: none;
  }
   .mobile-nav{
    display: block !important;
  }
  .side-nav_list li a{
    font-size: 18px;
    display: block;
    line-height: 60px;
  }
  .main-nav__item-list.auth{
    margin-right: 5px !important;
  }
}
.sub-menu_button a{
  animation: flash 2s infinite;

}

@keyframes flash {
  0% {
    color: var(--main-color) !important;
  }
  50% {
    color: #000 !important;
  }
  100% {
    color: var(--main-color) !important;
  }
}
@media screen and (max-width: 770px) and (orientation: landscape) {}

@media screen and (max-width: 770px) and (orientation: portrait) {
  #pop-up_menu .inner {
    width: 80%;
  }
  .side-nav_list {
    padding: var(--s-padding);
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1025px) {
  .nav-wrapper {
    height: 80px;
  }
  .nav-wrapper.fixed .main-nav {
    width: 97%;
  }
  .sub-menu_button {
    display: block;
  }
  .top-bar_list-item {
    margin-right: .8rem;
  }
  .top-bar {
    display: none;
  }
  .category_list {
    display: none;
  }
  .main-nav {
    width: 100%;
  }
  .main-nav__item a {
    font-size: 18px;
    color: var(--scnd-color);
  }
  .main-nav__item {
    margin: 0;
  }
  .side-nav {
    display: block;
  }
  #pop-up_menu .inner {
    height: 100%;
  }
  .side-nav_list li {
    width: 100%;
    height: 60px;
  }
  #pop-up_menu {
    display: block;
  }
}