i{
  color: #666;
}
i.active{
  color: green;
}

.orders {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-gap: 1em;
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
h1{
  margin: var(--m-margin) 0;
}
.orders__item{
    font-size: 1.2em;
    box-shadow: var(--shadow);
    padding: var(--l-padding);
    margin-bottom: var(--m-margin);
    border-radius: 25px;
}

.orders__item {

}
.orders__item h2{
  font-size: 16px;
  margin: 0;
  padding: 0;

}
.orders__item h3{
  font-size: 12px;
  border-bottom: 1px solid var(--scnd-color);
  margin-bottom: 10px;
  text-align: right;
  color: #444;
}
.orders__products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders__products-item {
  margin: var(--m-margin) 0;
  padding: var(--m-padding) 0 0 0;
  color: #555;
  font-size: 18px;
  border-bottom: 1px solid var(--scnd-color);

}
.orders__products-item p{
  padding-bottom: 3px;
}
.money{
  padding: var(--m-padding) 0
}
.money p{
  margin: var(--s-margin) 0;
  color: #333;
}
@media only screen and (min-width: 320px) and (max-width: 575px) and (orientation : portrait){
  .orders{
    grid-template-columns: 1fr;
  }
}
