<nav class="flex f-space-between">
    <div class="flex f-space-evenuly">

        <div class="sideMenuI">
            <a id="menu-icon"><i class="fas fa-bars"></i></a>
        </div>
        <div class="logo m-l-3">
            <a href="/admin/dashboard">Dashboard</a>
        </div>
    </div>

    <div class="flex f-space-between">
        <a class="wallet none c-g toggle-wallet m-r-3">Wallet:<b class="wallet-amount">00.00$</b></a>
        <div class="m-l-3 m-r-3">
            <a id="NotfiBtn"><i class="fas fa-bell"></i></a>
        </div>
    </div>
 
</nav>