<div class="option-links"><a href="#" data-fancybox data-src="#sizeGuide">SIZE
    GUIDE</a></div>
<div class="modal--simple modal--lg" id="sizeGuide" style="display: none;">
<div class="modal-header">
    <div class="modal-header-title">SIZE GUIDE</div>
</div>
<div class="modal-content">
    <div class="modal-body">
        <div class="panel-group" id="sizeAccordion">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse"
                            data-parent="#sizeAccordion"
                            href="#collapse1">Women's
                            Size Conversions</a></h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table
                                class="table table-bordered table-striped table--size">
                                <tr>
                                    <th scope="row">US Sizes</th>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                    <td>10,5</td>
                                </tr>
                                <tr>
                                    <th scope="row">Euro Sizes</th>
                                    <td>39</td>
                                    <td>39</td>
                                    <td>40</td>
                                    <td>40-41</td>
                                    <td>41</td>
                                    <td>41-42</td>
                                    <td>42</td>
                                    <td>42-43</td>
                                    <td>43</td>
                                    <td>43-44</td>
                                </tr>
                                <tr>
                                    <th scope="row">UK Sizes</th>
                                    <td>5,5</td>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th scope="row">Inches</th>
                                    <td>9.25&quot;</td>
                                    <td>9.5&quot;</td>
                                    <td>9.625&quot;</td>
                                    <td>9.75&quot;</td>
                                    <td>9.9375&quot;</td>
                                    <td>10.125&quot;</td>
                                    <td>10.25&quot;</td>
                                    <td>10.5&quot;</td>
                                    <td>10.625&quot;</td>
                                    <td>10.75&quot;</td>
                                </tr>
                                <tr>
                                    <th scope="row">CM</th>
                                    <td>23,5</td>
                                    <td>24,1</td>
                                    <td>24,4</td>
                                    <td>24,8</td>
                                    <td>25,4</td>
                                    <td>25,7</td>
                                    <td>26</td>
                                    <td>26,7</td>
                                    <td>27</td>
                                    <td>27,3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse"
                            data-parent="#sizeAccordion" href="#collapse2">Men's
                            Size Conversions</a></h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table
                                class="table table-bordered table-striped table--size">
                                <tr>
                                    <th scope="row">US Sizes</th>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                    <td>10,5</td>
                                </tr>
                                <tr>
                                    <th scope="row">Euro Sizes</th>
                                    <td>39</td>
                                    <td>39</td>
                                    <td>40</td>
                                    <td>40-41</td>
                                    <td>41</td>
                                    <td>41-42</td>
                                    <td>42</td>
                                    <td>42-43</td>
                                    <td>43</td>
                                    <td>43-44</td>
                                </tr>
                                <tr>
                                    <th scope="row">UK Sizes</th>
                                    <td>5,5</td>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th scope="row">Inches</th>
                                    <td>9.25&quot;</td>
                                    <td>9.5&quot;</td>
                                    <td>9.625&quot;</td>
                                    <td>9.75&quot;</td>
                                    <td>9.9375&quot;</td>
                                    <td>10.125&quot;</td>
                                    <td>10.25&quot;</td>
                                    <td>10.5&quot;</td>
                                    <td>10.625&quot;</td>
                                    <td>10.75&quot;</td>
                                </tr>
                                <tr>
                                    <th scope="row">CM</th>
                                    <td>23,5</td>
                                    <td>24,1</td>
                                    <td>24,4</td>
                                    <td>24,8</td>
                                    <td>25,4</td>
                                    <td>25,7</td>
                                    <td>26</td>
                                    <td>26,7</td>
                                    <td>27</td>
                                    <td>27,3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse"
                            data-parent="#sizeAccordion" href="#collapse3">Youth
                            Size Conversions (6 – 10 years)</a></h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table
                                class="table table-bordered table-striped table--size">
                                <tr>
                                    <th scope="row">US Sizes</th>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                    <td>10,5</td>
                                </tr>
                                <tr>
                                    <th scope="row">Euro Sizes</th>
                                    <td>39</td>
                                    <td>39</td>
                                    <td>40</td>
                                    <td>40-41</td>
                                    <td>41</td>
                                    <td>41-42</td>
                                    <td>42</td>
                                    <td>42-43</td>
                                    <td>43</td>
                                    <td>43-44</td>
                                </tr>
                                <tr>
                                    <th scope="row">UK Sizes</th>
                                    <td>5,5</td>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th scope="row">Inches</th>
                                    <td>9.25&quot;</td>
                                    <td>9.5&quot;</td>
                                    <td>9.625&quot;</td>
                                    <td>9.75&quot;</td>
                                    <td>9.9375&quot;</td>
                                    <td>10.125&quot;</td>
                                    <td>10.25&quot;</td>
                                    <td>10.5&quot;</td>
                                    <td>10.625&quot;</td>
                                    <td>10.75&quot;</td>
                                </tr>
                                <tr>
                                    <th scope="row">CM</th>
                                    <td>23,5</td>
                                    <td>24,1</td>
                                    <td>24,4</td>
                                    <td>24,8</td>
                                    <td>25,4</td>
                                    <td>25,7</td>
                                    <td>26</td>
                                    <td>26,7</td>
                                    <td>27</td>
                                    <td>27,3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse"
                            data-parent="#sizeAccordion" href="#collapse4">Kids'
                            Size Conversions (1 – 5 years)</a></h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table
                                class="table table-bordered table-striped table--size">
                                <tr>
                                    <th scope="row">US Sizes</th>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                    <td>10,5</td>
                                </tr>
                                <tr>
                                    <th scope="row">Euro Sizes</th>
                                    <td>39</td>
                                    <td>39</td>
                                    <td>40</td>
                                    <td>40-41</td>
                                    <td>41</td>
                                    <td>41-42</td>
                                    <td>42</td>
                                    <td>42-43</td>
                                    <td>43</td>
                                    <td>43-44</td>
                                </tr>
                                <tr>
                                    <th scope="row">UK Sizes</th>
                                    <td>5,5</td>
                                    <td>6</td>
                                    <td>6,5</td>
                                    <td>7</td>
                                    <td>7,5</td>
                                    <td>8</td>
                                    <td>8,5</td>
                                    <td>9</td>
                                    <td>9,5</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <th scope="row">Inches</th>
                                    <td>9.25&quot;</td>
                                    <td>9.5&quot;</td>
                                    <td>9.625&quot;</td>
                                    <td>9.75&quot;</td>
                                    <td>9.9375&quot;</td>
                                    <td>10.125&quot;</td>
                                    <td>10.25&quot;</td>
                                    <td>10.5&quot;</td>
                                    <td>10.625&quot;</td>
                                    <td>10.75&quot;</td>
                                </tr>
                                <tr>
                                    <th scope="row">CM</th>
                                    <td>23,5</td>
                                    <td>24,1</td>
                                    <td>24,4</td>
                                    <td>24,8</td>
                                    <td>25,4</td>
                                    <td>25,7</td>
                                    <td>26</td>
                                    <td>26,7</td>
                                    <td>27</td>
                                    <td>27,3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse"
                            data-parent="#sizeAccordion"
                            href="#collapse5">Infant
                            Size Conversions (0 – 12
                            months)</a></h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3"><img
                                    src="images/pages/size-table.png" alt="">
                            </div>
                            <div class="col-sm">
                                <div class="table-responsive">
                                    <table
                                        class="table table-bordered table-striped table--size">
                                        <tr>
                                            <th scope="row">US Sizes</th>
                                            <td>6</td>
                                            <td>6,5</td>
                                            <td>7</td>
                                            <td>7,5</td>
                                            <td>8</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Euro Sizes</th>
                                            <td>39</td>
                                            <td>39</td>
                                            <td>40</td>
                                            <td>40-41</td>
                                            <td>41</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">UK Sizes</th>
                                            <td>5,5</td>
                                            <td>6</td>
                                            <td>6,5</td>
                                            <td>7</td>
                                            <td>7,5</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Inches</th>
                                            <td>9.25&quot;</td>
                                            <td>9.5&quot;</td>
                                            <td>9.625&quot;</td>
                                            <td>9.75&quot;</td>
                                            <td>9.9375&quot;</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">CM</th>
                                            <td>23,5</td>
                                            <td>24,1</td>
                                            <td>24,4</td>
                                            <td>24,8</td>
                                            <td>25,4</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>