<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('./includes/styles.ejs') %>
        <link rel="stylesheet" href="/admin/css/settings.css" />
        <link rel="stylesheet" href="/admin/css/reports.css" />


</head>

<body>
    <%- include('./includes/side-nav.ejs') %>

        <div class="wrapper">
            <!-- Expenses -->

            <main>

                <section class="options">

                    <div class="flex f-space-between">
                        <h2>التقارير</h2>

                    </div>

                    <!--Main Actions -->
                    <aside class="main-actions">
                        <!-- <div class="flex f-space-between">
                                <a class="main-actions_action btn btn-info sub-menu_btn sort-menu_btn p-relative">
                                    تقارير المبيعات
                                    <i class=" fas fa-sort"></i>
                                    <ul class="sub-menu">
                                        <li class="btn bg-w get-orders-report" data-report="orders-reports"
                                            id="ordersReportBtn">
                                            تقرير الطلبات
                                        </li>
                                        <li class="btn bg-w get-orders-report" data-report="items-reports"
                                            id="salesItemsReportBtn">
                                            تقرير مبيعات المنتجات
                                        </li>
                                        <li class="btn bg-w get-orders-report" data-report="customers-orders-reports"
                                            id="salesItemsReportBtn">
                                            تقرير مبيعات العملاء
                                        </li>
                                    </ul>
                                </a>
                                <a class="main-actions_action btn border-r-m" id="salesCustomerReportBtn">Sales By
                                    Customer </a>
                                <a class="main-actions_action btn border-r-m" id="salesSallersReportBtn">Sales By Saller
                                </a>
                                <a class="main-actions_action btn border-r-m" id="inventoryReportBtn">Inventroy </a>
                                <a class="main-actions_action btn border-r-m" id="vendorReportBtn">Vendors </a>
                            </div> -->
                    </aside>
                    <!--Main Actions -->

                </section>




                <div class="content">
                    <div class="reports-menu">
                        <ul>
                            <li class=" get-orders-report selected" data-report="orders-reports" id="ordersReportBtn">
                                تقرير الطلبات
                            </li>
                            <li class=" get-orders-report" data-report="items-reports" id="salesItemsReportBtn">
                                تقرير مبيعات المنتجات
                            </li>
                            <li class=" get-orders-report" data-report="customers-orders-reports"
                                id="salesItemsReportBtn">
                                تقرير شحنات العملاء
                            </li>
                            <li class="" data-report="inventory-reports" id="inventoryReportBtn">
                                تقرير المخزن
                            </li>
                        </ul>

                    </div>
                    <div class="reports-wrapper">

                        <div class="orders-reports report scaleable scale">
                            <div class="inside-wrapper">
                                <div class="flex f-space-between actions">
                                    <div class="flex ">

                                        <a href="" class="btn btn-info create-excel">Export As
                                            Excel <i class="fas fa-file-excel"></i></a>
                                        <a href="" class="btn btn-success download-sheet none">Download</a>
                                    </div>
                                    <div class="reportrange" id="">
                                        <i class="fa fa-calendar"></i>&nbsp;
                                        <span></span>
                                        <i class="fa fa-caret-down"></i>
                                    </div>
                                </div>

                                <div class="report-head  p-large bg-darkgray"> </div>
                                <div class="report-body bg-lightgray"></div>
                                <div class="report-footer  p-large bg-darkgray"> </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>
        <%- include('./includes/scripts.ejs') %>


            <script src="/admin/modules/components/ar/reports.js"> </script>
            <script src="/admin/modules/interface/reports.js"> </script>


</body>

</html>