<footer>
        <div class="creator-info">
            <div class="creator-info-logo">
                <p>Powered By</p>
            </div>
            <div class="creator-info-media">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="contactus">
            <p>Start a converstion</p>
            <div class="contactus-lists">
                <ul class="contactus-lists-subMenu">
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>Dawen@gmail.com</li>
                </ul>
                <ul class="contactus-lists-socialMedia">
                    <li>
                        <i class="fab fa-facebook-f"></i>
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin"></i>
                    </li>
                </ul>
            </div>

        </div>
    </footer>